/* *RUBIK Font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/* *ROBOTO Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* Footer */
.footer {
  font-family: "Roboto", sans-serif;
  background-color: #161c2d;
  color: #fff;
  padding: 120px 180px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.footer-about {
  max-width: 280px;
}
.footer-about h3 {
  font-size: 28px;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  color: #fff;
}
.footer-about p {
  color: #9ca3af;
  padding: 36px 0 44px 0;
  font-size: 15px;
  line-height: 26px;
}

.socials a {
  color: #9ca3af;
  margin-right: 10px;
  font-size: 16px;
  transition: 0.3s;
}

.socials a:hover {
  color: #68d585;
}

.footer-links {
  display: flex;
  gap: 65px;
}

.footer-links h4 {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.65;

}

.footer-links ul {
  list-style: none;
}



.footer-links ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  line-height: 40px;
  transition: 0.3s;
}

.footer-links ul li a:hover {
  color: #fff;
}


