/* *RUBIK Font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/* *ROBOTO Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* SECTION-1 START */
.support-section1 {
  font-family: Roboto, "sans-serif";
  padding-top: 88px;
  display: flex;
  flex-direction: column;
  gap: 44px;
  color: #161c2d;
  align-items: center;
}
.section1-support-title {
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -2px;
}
.section1-support-parag {
  font-weight: 400;
  font-size: 19px;
  letter-spacing: -0.2px;
  width: 43%;
  text-align: center;
  line-height: 32px;
  opacity: 0.7;
}
/* SECTION-1 END */

/* SECTION-2 START */
.support-section2 {
  padding-top: 39px;
  display: flex;
  justify-content: center;
  font-family: Roboto, "sans-serif";
}
.section2-support-parag {
  color: #161c2d;
  font-size: 17px;
  letter-spacing: -0.2px;
  font-weight: 400;
  line-height: 29px;
  width: 45%;
  display: flex;
  opacity: 0.7;
}
/* SECTION-2 END */

/* SUPPORT LICENSE START */
.support-license {
  padding-top: 43px;
  display: flex;
  font-family: Roboto, "sans-serif";
  display: flex;
  flex-direction: column;
  align-items: center;
}
.support-license-container {
  text-align: left;
  width: 45%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.support-license-title {
  font-size: 19px;
  font-weight: 700;
  color: #161c2d;
}
.support-license-parag {
  font-size: 17px;
  letter-spacing: -0.2px;
  font-weight: 400;
  line-height: 29px;
  opacity: 0.7;
  display: flex;
}
/* SUPPORT LICENSE END */
/* SUPPORT SECURITY START */
.support-security {
  padding-top: 43px;
  display: flex;
  font-family: Roboto, "sans-serif";
  display: flex;
  flex-direction: column;
  align-items: center;
}
.support-security-container {
  text-align: left;
  width: 45%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.support-security-title {
  font-size: 19px;
  font-weight: 700;
  color: #161c2d;
}
.support-security-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: disc;
}
.support-security-item {
  font-size: 17px;
  letter-spacing: -0.2px;
  font-weight: 400;
  opacity: 0.7;
}
/* SUPPORT SECURITY END */

/* SUPPORT EMBEDDED START */
.support-embedded {
  padding-top: 43px;
  display: flex;
  font-family: Roboto, "sans-serif";
  display: flex;
  flex-direction: column;
  align-items: center;
}
.support-embedded-container {
  text-align: left;
  width: 45%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.support-embedded-title {
  font-size: 19px;
  font-weight: 700;
  color: #161c2d;
}
.support-embedded-parag {
  font-size: 17px;
  letter-spacing: -0.2px;
  font-weight: 400;
  line-height: 29px;
  opacity: 0.7;
  display: flex;
}
/* SUPPORT EMBEDDED END */

/* SUPPORT CHANGES START */
.support-changes {
  padding-top: 43px;
  display: flex;
  font-family: Roboto, "sans-serif";
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 210px;
}
.support-changes-container {
  text-align: left;
  width: 45%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.support-changes-title {
  font-size: 19px;
  font-weight: 700;
  color: #161c2d;
}
.support-changes-parag {
  font-size: 17px;
  letter-spacing: -0.2px;
  font-weight: 400;
  line-height: 29px;
  opacity: 0.7;
  display: flex;
}
/* SUPPORT CHANGES END */
